---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { peliculas } from "../../src/films/arrayFilms.js";
import { urlPelicula } from "../../src/pages/subpages/urlFilms.js";
--- 
<Layout title="Inicio - CinePedia">
    <main>
        <h2 class="text-2xl font-bold mt-6 ml-16 mb-8 ">Las películas que tenemos guardadas:</h2>
        <div class="w-4/5 mx-auto ml-auto mr-auto">
            <section>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
                    {peliculas.map((film) => {
                        return (
                            <div class="bg-white shadow-md overflow-hidden border-2 border-black rounded-2xl p-3 w-60 cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105" id={film.title}.toLowerCase()>
                                <a href={urlPelicula}>
                                    <img class="w-auto h-76 align-middle justify-center rounded-2xl" src={film.image} alt={film.title}/>
                                    <div class="p-4">
                                        <h3 class="font-bold text-2xl mb-2">{film.title}</h3>
                                        <p class="text-gray-700 text-base">{film.category}</p>
                                    </div>
                                </a>
                            </div>
                        );
                    })}
                </div>
            </section>
        </div>
    </main>
</Layout>
