---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import { peliculas } from "../assets/arrayFilms.js";
--- 
<Layout title="Inicio - CinePedia">
    <main class="bg-white min-h-screen py-10">
        <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-10">Las películas que tenemos guardadas:</h2>
        <div class="max-w-7xl mx-auto px-4">
            <section>
                <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-3">
                    {peliculas.map((film) => (
                        <div class="bg-white border border-gray-300 rounded-2xl shadow-lg overflow-hidden transition-transform duration-300 cursor-pointer hover:scale-110">
                            <a href={`/Films-pages/${film.id}`} class="block">
                                <img class="w-full h-80 object-cover" src={film.image} alt={film.title} />
                                <div class="p-4">
                                    <h3 class="text-xl font-bold mb-1 truncate">{film.title}</h3>
                                    <p class="text-sm text-gray-500 italic">{film.category}</p>
                                </div>
                            </a>
                        </div>
                    ))}
                </div>
            </section>
        </div>
    </main>
</Layout>